body {
    --padding: 5vw;
    --max-width: 180ch;
  }
  
  .flexbox {
    --min: 30ch;
  
    display: flex;
    flex-wrap: wrap;
  
    gap: 1rem;
  }
  .card {
    flex: 0 1 16.6%;
    flex-basis: var(--min);
    /*flex: 0 1 var(--min);*/
  }