h1, h2, h3 {
    color:gray;
}
#main {
    color: red;
}
.h2 {
    color: red;
}
.heading {
    color: green;
}
ul > li {
    font-weight: bold;
}
section > p {
    color: red;
   }
* p {
    font-size: xx-large;
}
 h2:first-of-type + h2 {
    color: indigo;
}
p.first a {
    color: green;
}
p .first {
    color: green;
}
div ~ p {
    color: salmon;
}
.translucent-box {
    background-color: hsl(0deg 100% 50%);
    height: 100px;
}
body {
    font-size: 140%;
}
h1 {
    font-size: 240;
}